* {
	padding: 0;
	margin: 0;
}

#side-content {
	max-width: 1000px;
	text-align: center;
	margin-left: auto;
	margin-right: 0;
}

#side-content div{
	margin: 20px;
	padding: 5px;
}

#sider {
	position: fixed;
	left: 60px;
	top: 400px;
	min-width: 20em;
	text-align: center;
	border:1px #ffc solid;
	background-color: #fff;
}

#footer {
	margin-top:50% !important;
}

#sider a{
	text-decoration: none;
	list-style: none;
	display: block;
	padding: 5px;
}

#sider li{
	list-style:none;
}
#sider li:hover{
	background-color: #cecece;
	border:1px #4183c4 solid;
}